<link rel="stylesheet" type="text/css" href="/css/style.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <div id="main">
        <h1>Please select the Game!</h1>
        <form action="/singleIndex">
            <input id="submit" type="submit" name="single-player-game" value="Single player" />
        </form>
        <form action="/twoPlayerIndex">
            <input id="submit" type="submit" name="two-player-game" value="Two player" />
        </form>
        <form action="/extendedSinglePlayerIndex">
            <input id="submit" type="submit" name="extended-single-game" value="Extended Single player" />
        </form>
        <form action="/extendedMultiIndex">
            <input id="submit" type="submit" name="extended-multi-game" value="Extended Multi player" />
        </form>
    </div>
</body>

</html>