<link rel="stylesheet" type="text/css" href="/css/style.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <div id="main">
        <h1> Hello <%= name %>!
        </h1>
        <h2>Please choose one option</h2>
        <form action="/singleWinner" method="post">
            <input id="submit" type="submit" value="rock" name="choice" />
            <input id="submit" type="submit" value="paper" name="choice" />
            <input id="submit" type="submit" value="scissor" name="choice" />
        </form>
    </div>
</body>

</html>