<link rel="stylesheet" type="text/css" href="/css/style.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <div id="main">
        <h1>Welcome in Rock/Paper/Scissor game</h1>
        <p>Enter your names please!</p>
        <form action="/twoPlayerGame" method="post">
            <p>Player 1:<input id="player" type="text" name="player1" required /></p>
            <p>Player 2:<input id="player" type="text" name="player2" required /></p>
            <input id="submit" type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>